@charset "UTF-8";

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(70, 35, 127);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(70, 35, 127);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(199, 180, 229);
  border-radius: 10px;
  border: 1px solid rgb(93, 59, 149);
}

body{
  margin: 0;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 1%;
  background-color: rgb(46, 9, 47);
  background-image: url("background.png");
  color: rgb(243, 252, 194);
  font-size: 18px;
  background-position: relative;
  background-size: auto, 100%;
  background-repeat: repeat-y;
  font-family: Garamond serif;
}

h1, h2, h3, h4, h5, h6{
	font-variant: small-caps;
}

a{
	color: rgb(234, 250, 151);
	margin: 10px;
	font-variant: small-caps;
}

.bigIn{
	width:90% !important;
	height:60%;

}
.littleIn{
	width:36% !important;
}

input[type=text], textarea{
	width: 60%;
	background-color: rgb(199, 180, 229);
	color: rgb(79, 60, 109);
	margin: 2px;
}

::placeholder{
		color: rgb(129, 110, 159);
}

input[type=radio]{
	accent-color: rgb(79, 60, 109);
}

input:-webkit-autofill {
	border: 1px solid rgb(93, 59, 149);
}
input:autofill {
	border: 1px solid rgb(93, 59, 149);
}


div.overflowDown{
	height: 300px;
	overflow-y: scroll;
	scrollbar-width: 2px;
	scrollbar-color: rgb(70, 35, 127);
}


input[type=submit]{
	background-color: rgb(70, 35, 127) !important;
	border-color: rgb(93, 59, 149);
	color: rgb(243, 252, 194);
	transition: all 0.15;
}

input[type=submit]:hover{
	background-color: rgb(75, 40, 132) !important;
	border-color: rgb(199, 180, 229);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
	color: rgb(243, 252, 194);
}

.btn-custom{
	width: 50% !important;
	height: auto !important;
	margin: 3px;
}

img{
	width: 100%;
	height: auto;
	border-collapse: collapsed;
	border: 4px solid;
	border-radius: 3px;
}
.deleteButton {
	align-content: right;
}

.editButton{
	align-content: right;
}



